<?xml version="1.0"?>
<robot name="zad2" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:property name="params" value="${load_yaml('zad2/wynik.yaml')}"/>

<material name="blue">
    <color rgba="0 0 0.8 1"/>
</material>

<material name="white">
    <color rgba="1 1 1 1"/>
</material>


<link name="floor">
    	<visual>

      		<geometry>
        		<box size ="10 10 0"/>
     		 </geometry>
	<material name="white"/>
    	</visual>
</link>

<link name="link1">
    	<visual>

      		<geometry>
        		<cylinder length="${params['j0']['len']}" radius="0.05"/>
     		 </geometry>
	<origin xyz="0 0 ${params['j0']['len']/2}" rpy="0 0 0" />
	
    	</visual>
</link>
<link name="link2">
   	 <visual>

      		<geometry>
        		<cylinder length="${params['j1']['len']}" radius="0.05"/>
      		</geometry>
	<material name="blue"/>
	<origin xyz="0 0 ${params['j1']['len']/2}" rpy="0 0 0" />
    	</visual>
	
  </link>
<link name="link3">
    	<visual>

     		 <geometry>
       			 <cylinder length="${params['j2']['len']}" radius="0.05"/>
      		</geometry>
	<material name="white"/>
	<origin xyz="0 0 ${params['j2']['len']/2}" rpy="0 0 0" />
    	</visual>
</link>

<joint name="joint1" type="fixed">
	<parent link="floor"/>
	<child link="link1"/>
	<origin xyz="${params['j0']['xyz']}" rpy="${params['j0']['rpy']}" />
	<axis xyz="0 0 1"/>
</joint>


<joint name="joint2" type="fixed">
	<parent link="link1"/>
	<child link="link2"/>
	<origin xyz="${params['j1']['xyz']}" rpy="${params['j1']['rpy']}" />
	<axis xyz="1 0 0"/>
	
</joint>

<joint name="joint3" type="fixed">
	<parent link="link2"/>
	<child link="link3"/>
	<origin xyz="${params['j2']['xyz']}" rpy="${params['j2']['rpy']}" />
	<axis xyz="1 0 0"/>
	
</joint>



</robot>
